https://dados.gov.br/dataset/serie-historica-de-precos-de-combustiveis-por-revenda

In [1]:
import pandas as pd

In [55]:
!ls entrada/

ca-2017-01.csv.bz2  ca-2018-02.csv.bz2	ca-2020-01.csv.bz2  ca-2021-02.csv.bz2
ca-2017-02.csv.bz2  ca-2019-01.csv.bz2	ca-2020-02.csv.bz2  ca-2022-01.csv.bz2
ca-2018-01.csv.bz2  ca-2019-02.csv.bz2	ca-2021-01.csv.bz2

In [56]:
!bzcat entrada/ca-2022-01.csv.bz2 | head -5

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = entrada/ca-2022-01.csv.bz2, output file = (stdout)

In [89]:
df = pd.read_csv("entrada/ca-2021-02.csv.bz2", sep=";", decimal=",", nrows=10000, encoding="iso8859")
#df = pd.read_csv("entrada/ca-2017-02.csv.bz2", sep=";", decimal=",", nrows=10000)
#df = pd.read_csv("entrada/ca-2022-01.csv.bz2", sep=";", nrows=10000, decimal=",")
df.head(5)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA ADITIVADA,01/07/2021,5.699,NaN,R$ / litro,IPIRANGA
1,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA,01/07/2021,5.499,NaN,R$ / litro,IPIRANGA
2,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,DIESEL S10,01/07/2021,4.699,NaN,R$ / litro,IPIRANGA
3,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,ETANOL,01/07/2021,5.200,NaN,R$ / litro,IPIRANGA
4,NE,CE,MARACANAU,LUIZA GLAURIA R T MENEZES,03.602.329/0001-10,ESTRADA FORTALEZA MARANGUAPE,S/N,NaN,KAGADO,61901-410,GASOLINA,01/07/2021,5.490,NaN,R$ / litro,VIBRA ENERGIA

In [83]:
df.describe(include='all')

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
count,300947,300947,300947,300947,300947,300947,300761,77397,299989,300947,300947,300947,300947.000000,131020.000000,300947,300947
unique,5,27,515,10101,11743,7435,3855,1903,4867,8372,5,102,NaN,NaN,2,62
top,SE,SP,SAO PAULO,SIM REDE DE POSTOS LTDA,01.013.076/0001-14,AVENIDA BRASIL,S/N,0,CENTRO,78580-000,GASOLINA,25/07/2017,NaN,NaN,R$ / litro,BRANCA
freq,142364,83862,9979,957,105,3123,39696,7582,55022,585,91448,7641,NaN,NaN,296043,87076
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.309335,2.868754,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.519775,0.485568,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.699000,1.245100,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.990000,2.539000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.290000,2.880000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.690000,3.202300,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.200000,4.457100,NaN,NaN

In [84]:
for col in df.columns:
    print(df[[col]].value_counts(), "\n")

ï»¿Regiao - Sigla
SE                   142364
NE                    61922
S                     48677
CO                    28868
N                     19116
dtype: int64

Estado - Sigla
SP                83862
MG                30078
RJ                22966
PR                19484
BA                18560
RS                17052
GO                12172
SC                12141
CE                11893
PE                 9042
MT                 8791
MA                 5739
ES                 5458
MS                 5270
PA                 5113
RO                 3931
RN                 3898
PI                 3786
AM                 3679
PB                 3410
AL                 3347
DF                 2635
TO                 2460
AC                 2300
SE                 2247
AP                  926
RR                  707
dtype: int64

Municipio
SAO PAULO         9979
FORTALEZA         5804
SALVADOR          5122
RIO DE JANEIRO    4982
CUIABA            4259
                  ...
CAIEIRAS            12
ARAMBARE            11
GUAPORE              9
ANAMA                4
IBIRAMA              2
Length: 515, dtype: int64

Revenda
SIM REDE DE POSTOS LTDA                 957
CACIQUE PETROLEO LTDA                   850
COMPANHIA BRASILEIRA DE DISTRIBUICAO    529
SOBRAL & PALACIO PETROLEO LTDA          507
POSTO GALO LTDA                         505
                                       ...
AUTO POSTO ZEQUINHA SOROCABA LTDA         1
SEPE TIARAJU EMPREENDIMENTOS EIRELI       1
ANDRADE & MACHADO LTDA - EPP              1
AUTO POSTO L.C LTDA                       1
LIBERDADE POSTO DE SERVICOS EIRELI        1
Length: 10101, dtype: int64

CNPJ da Revenda
 01.013.076/0001-14    105
 10.976.424/0007-35    104
 07.231.582/0001-66    104
 06.656.656/0021-97    104
 08.097.382/0001-25    104
                      ...
 09.087.882/0001-49      1
 02.280.133/0043-43      1
 13.511.772/0001-30      1
 03.837.749/0001-86      1
 15.654.457/0001-97      1
Length: 11743, dtype: int64

Nome da Rua
AVENIDA BRASIL                         3123
RODOVIA BR 101                         2188
AVENIDA GETULIO VARGAS                 1881
AVENIDA PRESIDENTE VARGAS              1543
RODOVIA BR 116                         1503
                                       ...
AVENIDA CORONEL APARICIO BORGES           1
RUA SETENTRIONAL                          1
RUA PASTOR EUSTAQUIO LOPES DA SILVA       1
RUA ALVARO MEDEIROS SANTIAGO              1
RUA SANTA CECILIA                         1
Length: 7435, dtype: int64

Numero Rua
S/N           39696
SN             7525
1              1884
100            1023
30             1016
              ...
694               2
650/680           2
67/69             1
2925              1
4244              1
Length: 3855, dtype: int64

Complemento
0                        7582
TERREO                   2298
A                        1454
                          687
PARTE                     585
                         ...
AREA A                      2
PLL CANTEIRO CENTRAL        2
BR 262                      2
LOTE: PARQUE DO LAGO;       1
ESQUINA COM BEIRA RIO       1
Length: 1903, dtype: int64

Bairro
CENTRO               55022
ZONA RURAL            3855
SEDE                  1498
VILA NOVA             1087
CIDADE NOVA           1078
                     ...
NOVO BURITIZAL           1
CABRALZINHO              1
JARDIM EQUATORIAL        1
POÃO GORDO              1
ARAXÃ                   1
Length: 4867, dtype: int64

Cep
78580-000    585
15200-000    558
75650-000    558
28970-000    540
46430-000    539
            ...
59062-140      1
90680-570      1
68903-640      1
18043-000      1
90040-372      1
Length: 8372, dtype: int64

Produto
GASOLINA      91448
ETANOL        81676
DIESEL S10    70600
DIESEL        52319
GNV            4904
dtype: int64

Data da Coleta
25/07/2017        7641
11/07/2017        6878
04/07/2017        6629
18/07/2017        6512
17/07/2017        6335
                  ...
19/10/2017         544
24/08/2017         418
14/09/2017         187
31/08/2017         169
25/12/2017          24
Length: 102, dtype: int64

Valor de Venda
3.199             9675
3.299             9639
2.999             8512
3.399             8300
3.099             8230
                  ...
3.112                1
3.111                1
2.413                1
4.394                1
2.773                1
Length: 2000, dtype: int64

Valor de Compra
2.8500             253
2.8000             245
2.5500             237
2.9500             211
3.0000             203
                  ...
3.6835               1
3.0591               1
3.0592               1
3.0606               1
3.3673               1
Length: 19057, dtype: int64

Unidade de Medida
R$ / litro           296043
R$ / mÂ³               4904
dtype: int64

Bandeira
BRANCA                          87076
PETROBRAS DISTRIBUIDORA S.A.    82121
IPIRANGA                        55009
RAIZEN                          48193
ALESAT                           7453
                                ...
PDV BRASIL                         11
LIQUIGÃS                           6
MERCOIL                             4
PELIKANO                            4
DINAMO                              2
Length: 62, dtype: int64

In [85]:
df.columns

Index(['ï»¿Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [86]:
df2 = pd.read_csv("entrada/ca-2022-01.csv.bz2", sep=";", nrows=10000, decimal=",",
                 usecols=['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Bairro',
                          'Produto', 'Valor de Venda', 'Valor de Compra', 'Unidade de Medida',
                          'Data da Coleta', 'Bandeira', 'Revenda'],
                 parse_dates=['Data da Coleta'], dayfirst=True)
df2.head(5)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,Bairro,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,GASOLINA,2022-01-03,6.99,NaN,R$ / litro,VIBRA ENERGIA
1,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,ETANOL,2022-01-03,5.99,NaN,R$ / litro,VIBRA ENERGIA
2,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,DIESEL,2022-01-03,6.09,NaN,R$ / litro,VIBRA ENERGIA
3,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,GASOLINA ADITIVADA,2022-01-03,7.05,NaN,R$ / litro,VIBRA ENERGIA
4,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,DIESEL S10,2022-01-03,6.12,NaN,R$ / litro,VIBRA ENERGIA

In [74]:
%%script echo
df2.rename({'Regiao - Sigla': 'Regiao', 'Estado - Sigla': 'UF', 
            'Valor de Venda': 'Venda', 'Valor de Compra': 'Compra',
            'Unidade de Medida': 'Unidade', 'Data da Coleta': 'Coleta'},
           axis=1, inplace=True)
df2.head(5)

In [75]:
%%script echo
ocols = df2.columns.tolist()
ocols

In [76]:
%%script echo
lcols = [col.lower() for col in ocols]
lcols

In [77]:
%%script echo
dict(zip(ocols, lcols))

In [78]:
df2.rename({'Regiao - Sigla': 'regiao', 'Estado - Sigla': 'uf',
            'Municipio': 'municipio', 'Bairro': 'bairro',
            'Produto': 'produto', 'Valor de Venda': 'venda', 
            'Valor de Compra': 'compra', 'Unidade de Medida': 'unidade',
            'Data da Coleta': 'coleta',
            'Bandeira': 'bandeira',
            'Revenda': 'revenda'},
           axis=1, inplace=True)
df2.head(5)

,regiao,uf,municipio,revenda,bairro,produto,coleta,venda,compra,unidade,bandeira
0,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,GASOLINA,2022-01-03,6.99,NaN,R$ / litro,VIBRA ENERGIA
1,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,ETANOL,2022-01-03,5.99,NaN,R$ / litro,VIBRA ENERGIA
2,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,DIESEL,2022-01-03,6.09,NaN,R$ / litro,VIBRA ENERGIA
3,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,GASOLINA ADITIVADA,2022-01-03,7.05,NaN,R$ / litro,VIBRA ENERGIA
4,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,AREAL,DIESEL S10,2022-01-03,6.12,NaN,R$ / litro,VIBRA ENERGIA

In [79]:
df2.columns

Index(['regiao', 'uf', 'municipio', 'revenda', 'bairro', 'produto', 'coleta',
       'venda', 'compra', 'unidade', 'bandeira'],
      dtype='object')

In [80]:
df3 = df2[['regiao', 'uf', 'municipio', 'bairro',
     'produto', 'venda', 'compra', 'unidade', 'coleta',
     'bandeira', 'revenda']]
df3.head()

,regiao,uf,municipio,bairro,produto,venda,compra,unidade,coleta,bandeira,revenda
0,N,AC,RIO BRANCO,AREAL,GASOLINA,6.99,NaN,R$ / litro,2022-01-03,VIBRA ENERGIA,AUTO POSTO AMAPA - EIRELI
1,N,AC,RIO BRANCO,AREAL,ETANOL,5.99,NaN,R$ / litro,2022-01-03,VIBRA ENERGIA,AUTO POSTO AMAPA - EIRELI
2,N,AC,RIO BRANCO,AREAL,DIESEL,6.09,NaN,R$ / litro,2022-01-03,VIBRA ENERGIA,AUTO POSTO AMAPA - EIRELI
3,N,AC,RIO BRANCO,AREAL,GASOLINA ADITIVADA,7.05,NaN,R$ / litro,2022-01-03,VIBRA ENERGIA,AUTO POSTO AMAPA - EIRELI
4,N,AC,RIO BRANCO,AREAL,DIESEL S10,6.12,NaN,R$ / litro,2022-01-03,VIBRA ENERGIA,AUTO POSTO AMAPA - EIRELI