In [1]:
import pandas as pd

In [2]:
from funcoes_apoio import preparar_dataframe

In [3]:
df = preparar_dataframe()
df

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda,imputado,ams,lucro,plucro
3174408,NE,PE,VITORIA DE SANTO ANTAO,REDENCAO,ETANOL,3.250,2.838,2018,5,RAIZEN,LIG COMBUSTIVEIS E SERVICOS LTDA,1,201805,0.412,14.520000
3101236,S,SC,JARAGUA DO SUL,VILA LENZI,GASOLINA,3.798,3.539,2018,2,PETROBRAS,POSTO CIDADE LTDA,1,201802,0.259,7.320000
1085417,NE,BA,CAMPO FORMOSO,BREJAO DA CAATINGA,GASOLINA,3.490,2.865,2015,4,BRANCA,AUTO POSTO BREJÃO DA CAATINGA LTDA - ME,0,201504,0.625,21.820000
226295,SE,SP,FRANCA,DISTRITO INDUSTRIAL,GASOLINA,4.299,3.803,2019,3,PETROBRAS,AUTO POSTO DISTRITO BEIRA RIO LTDA,0,201903,0.496,13.040000
2652822,NE,CE,CAUCAIA,CAPUAN,ETANOL,3.699,3.083,2018,7,PETROBRAS,AUTO POSTO DE COMBUSTIVEL CAPUAN LTDA,1,201807,0.616,19.980000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394083,SE,MG,CURVELO,CENTRO,GASOLINA,3.890,3.313,2017,4,PETROBRAS,AUTO POSTO VIANA LTDA,1,201704,0.577,17.420000
1748544,SE,SP,JAU,JD STA HELENA,GASOLINA,4.099,3.695,2019,3,BRANCA,POSTO NOSSO RANCHO LTDA.,1,201903,0.404,10.930000
1874454,SE,SP,BAURU,JARDIM BELA VISTA,GASOLINA,3.039,2.600,2015,7,RAIZEN,COMERCIO DERIVADOS DE PETROLEO RODOVIARIO DE B...,1,201507,0.439,16.879999
2215731,S,PR,UMUARAMA,PARQUE INDUSTRIAL I,ETANOL,2.470,2.193,2016,8,BRANCA,GAD - COMERCIO DE COMBUSTIVEIS LTDA,1,201608,0.277,12.630000
1643546,SE,SP,ITATIBA,DO ENGENHO,ETANOL,2.599,2.223,2020,8,RAIZEN,AUTO POSTO BAPTISTELLA LTDA,1,202008,0.376,16.910000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 3174408 to 1643546
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   regiao     5000 non-null   category
 1   uf         5000 non-null   category
 2   municipio  5000 non-null   category
 3   bairro     4983 non-null   category
 4   produto    5000 non-null   category
 5   venda      5000 non-null   float32
 6   compra     5000 non-null   float32
 7   ano        5000 non-null   uint16
 8   mes        5000 non-null   uint8
 9   bandeira   5000 non-null   object
 10  revenda    5000 non-null   object
 11  imputado   5000 non-null   category
 12  ams        5000 non-null   int64
 13  lucro      5000 non-null   float32
 14  plucro     5000 non-null   float32
dtypes: category(6), float32(4), int64(1), object(2), uint16(1), uint8(1)
memory usage: 629.5+ KB

In [5]:
df.describe(include='all')

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda,imputado,ams,lucro,plucro
count,5000,5000,5000,4983,5000,5000.000000,5000.000000,5000.000000,5000.000000,5000,5000,5000,5000.00000,5000.000000,5000.000000
unique,5,27,506,2318,2,NaN,NaN,NaN,NaN,5,3842,2,NaN,NaN,NaN
top,SE,SP,SAO PAULO,CENTRO,GASOLINA,NaN,NaN,NaN,NaN,BRANCA,SIM REDE DE POSTOS LTDA,1,NaN,NaN,NaN
freq,2546,1494,165,989,2673,NaN,NaN,NaN,NaN,1679,13,3011,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,3.467750,3.014622,2017.308600,6.045000,NaN,NaN,NaN,201736.90500,0.453118,15.550962
std,NaN,NaN,NaN,NaN,NaN,0.745009,0.688807,1.717311,3.381192,NaN,NaN,NaN,171.71491,0.152474,5.681192
min,NaN,NaN,NaN,NaN,NaN,1.499000,1.437000,2015.000000,1.000000,NaN,NaN,NaN,201501.00000,-0.341000,-13.020000
25%,NaN,NaN,NaN,NaN,NaN,2.899000,2.491750,2016.000000,3.000000,NaN,NaN,NaN,201603.00000,0.351000,11.870000
50%,NaN,NaN,NaN,NaN,NaN,3.479000,3.000000,2017.000000,6.000000,NaN,NaN,NaN,201708.00000,0.447000,15.000000
75%,NaN,NaN,NaN,NaN,NaN,3.999000,3.510000,2019.000000,9.000000,NaN,NaN,NaN,201904.00000,0.541000,18.379999
max,NaN,NaN,NaN,NaN,NaN,5.479000,4.838000,2020.000000,12.000000,NaN,NaN,NaN,202012.00000,1.364000,58.669998

In [6]:
for col in df.columns:
    print(df[[col]].value_counts(), "\n")

regiao
SE        2546
NE         981
S          773
CO         428
N          272
dtype: int64

uf
SP    1494
MG     573
RJ     395
PR     301
BA     290
RS     280
SC     192
CE     184
PE     178
GO     176
MT     115
MS      93
ES      84
PA      75
MA      73
PB      67
AM      63
RN      60
AL      53
RO      50
DF      44
TO      40
PI      38
SE      38
AC      23
RR      12
AP       9
dtype: int64

municipio
SAO PAULO         165
RIO DE JANEIRO     86
FORTALEZA          82
SALVADOR           67
BELO HORIZONTE     54
                 ...
MAMANGUAPE          0
JAGUARE             0
JAGUARAO            0
ITABAIANINHA        0
NOVA LONDRINA       0
Length: 596, dtype: int64

bairro
CENTRO                              989
ZONA RURAL                           48
SEDE                                 26
BOA VISTA                            22
DISTRITO INDUSTRIAL                  20
                                   ...
PRAIA CAMPISTA                        0
ESTORIL                               0
PQ. DAS AMENDOEIRAS                   0
PQ.  JARAGUA                          0
LOTEAMENTO ALPHAVILLE FLAMBOYANT      0
Length: 7793, dtype: int64

produto
GASOLINA    2673
ETANOL      2327
dtype: int64

venda
2.999    106
3.599     95
3.999     92
2.699     88
2.599     87
        ...
3.357      1
3.330      1
3.329      1
3.321      1
5.479      1
Length: 810, dtype: int64

compra
3.018     10
3.270     10
3.050     10
3.240     10
2.460     10
          ..
2.885      1
2.877      1
2.871      1
2.858      1
4.838      1
Length: 2205, dtype: int64

ano
2015    1035
2016     898
2019     879
2018     797
2017     739
2020     652
dtype: int64

mes
3      512
4      483
7      477
1      470
5      463
6      452
2      439
8      393
12     355
11     353
10     329
9      274
dtype: int64

bandeira
BRANCA       1679
PETROBRAS    1187
IPIRANGA      848
RAIZEN        778
OUTRAS        508
dtype: int64

revenda
SIM REDE DE POSTOS LTDA                                 13
COMPANHIA BRASILEIRA DE DISTRIBUICAO                    12
SETE ESTRELAS COMERCIO DE DERIVADOS DE PETROLEO LTDA    12
CARREFOUR COMERCIO E INDUSTRIA LTDA                     10
SOBRAL & PALACIO PETROLEO LTDA                          10
                                                        ..
CARLOS MAGNO COMERCIO DE COMBUSTIVEIS EIRELI             1
CARMENCITA AUTO POSTO LTDA                               1
CARONE COMBUSTIVEIS LTDA                                 1
CARVALHO & CARVALHO COMERCIAL DE COMBUSTÃVEIS LTDA.     1
ÃGUA BRANCA COMBUSTÃVEIS E SERVIÃOS LTDA.             1
Length: 3842, dtype: int64

imputado
1           3011
0           1989
dtype: int64

ams
201506    126
201503    120
201504    115
201507    111
201502     97
         ...
201709     35
201510     35
202012     31
202011     26
202010      8
Length: 71, dtype: int64

lucro
0.436    28
0.469    25
0.459    24
0.443    24
0.480    22
         ..
0.658     1
0.661     1
0.672     1
0.693     1
1.364     1
Length: 757, dtype: int64

plucro
14.700000    12
16.959999    12
12.090000    12
15.690000    11
15.900000    11
             ..
14.970000     1
15.060000     1
15.250000     1
15.280000     1
58.669998     1
Length: 1908, dtype: int64

In [7]:
%%script true
df2 = df[['bandeira', 'regiao']].groupby('bandeira').count().\
    reset_index().rename({'regiao': 'qtde'}, axis=1).\
    sort_values('qtde', ascending=False)
df2['perc'] = round(df2['qtde'] / len(df2), 2)
df2

In [8]:
%%script true
def normalizar_bandeira(titulo):
    if titulo in ['BRANCA', 'IPIRANGA', 'RAIZEN']:
        return titulo
    elif titulo == 'PETROBRAS DISTRIBUIDORA S.A.':
        return 'PETROBRAS'
    else:
        return 'OUTRAS'

df2['bandeira'].apply(normalizar_bandeira).head()

In [11]:
df['data'] = pd.to_datetime(df['ams'], format='%Y%m')
df

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda,imputado,ams,lucro,plucro,data
3174408,NE,PE,VITORIA DE SANTO ANTAO,REDENCAO,ETANOL,3.250,2.838,2018,5,RAIZEN,LIG COMBUSTIVEIS E SERVICOS LTDA,1,201805,0.412,14.520000,2018-05-01
3101236,S,SC,JARAGUA DO SUL,VILA LENZI,GASOLINA,3.798,3.539,2018,2,PETROBRAS,POSTO CIDADE LTDA,1,201802,0.259,7.320000,2018-02-01
1085417,NE,BA,CAMPO FORMOSO,BREJAO DA CAATINGA,GASOLINA,3.490,2.865,2015,4,BRANCA,AUTO POSTO BREJÃO DA CAATINGA LTDA - ME,0,201504,0.625,21.820000,2015-04-01
226295,SE,SP,FRANCA,DISTRITO INDUSTRIAL,GASOLINA,4.299,3.803,2019,3,PETROBRAS,AUTO POSTO DISTRITO BEIRA RIO LTDA,0,201903,0.496,13.040000,2019-03-01
2652822,NE,CE,CAUCAIA,CAPUAN,ETANOL,3.699,3.083,2018,7,PETROBRAS,AUTO POSTO DE COMBUSTIVEL CAPUAN LTDA,1,201807,0.616,19.980000,2018-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394083,SE,MG,CURVELO,CENTRO,GASOLINA,3.890,3.313,2017,4,PETROBRAS,AUTO POSTO VIANA LTDA,1,201704,0.577,17.420000,2017-04-01
1748544,SE,SP,JAU,JD STA HELENA,GASOLINA,4.099,3.695,2019,3,BRANCA,POSTO NOSSO RANCHO LTDA.,1,201903,0.404,10.930000,2019-03-01
1874454,SE,SP,BAURU,JARDIM BELA VISTA,GASOLINA,3.039,2.600,2015,7,RAIZEN,COMERCIO DERIVADOS DE PETROLEO RODOVIARIO DE B...,1,201507,0.439,16.879999,2015-07-01
2215731,S,PR,UMUARAMA,PARQUE INDUSTRIAL I,ETANOL,2.470,2.193,2016,8,BRANCA,GAD - COMERCIO DE COMBUSTIVEIS LTDA,1,201608,0.277,12.630000,2016-08-01
1643546,SE,SP,ITATIBA,DO ENGENHO,ETANOL,2.599,2.223,2020,8,RAIZEN,AUTO POSTO BAPTISTELLA LTDA,1,202008,0.376,16.910000,2020-08-01

In [9]:
pd.to_datetime("202009", format='%Y%m')

Timestamp('2020-09-01 00:00:00')